<template>
  <v-app
    :style="{ 'backgroundImage': 'url(' + require('@/assets/login.jpg') + ')' ,
              'backgroundSize' : 'cover',
              'width': '100%', 'opacity': '0.8'

    }"
  >
    <v-layout
      column
      justify-center
      align-center
    >
      <div>
        <nuxt />
      </div>
    </v-layout>
  </v-app>
</template>

<script>
export default {

}
</script>

<style>

</style>
