<template>
  <section style="width:370px;">
    <v-layout>
      <v-overlay v-show="show">
        <v-progress-circular
          :size="70"
          :width="7"
          color="primary"
          indeterminate
        />
      </v-overlay>
      <div style="width: 100%;">
        <v-card  elevation="5" class="pb-6 mb-12" style="    opacity: 0.9;">
          <v-card-title style="background:#3236c5">
            <div class="title font-weight-light text-center" style="width:100%;color:#fff">
              <h3>Login </h3>
            </div>
          </v-card-title>
          <v-form ref="login" style="padding : 20px 20px 20px 20px;" @submit.prevent>
            <v-row>
              <v-col sm="12">
                <v-text-field
                  v-model="user.username"
                  dense
                  :rules="[rules.required, rules.min]"
                  label="Phone Number"
                  @keyup.enter="login"
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col sm="12">
                <v-text-field
                  v-model="user.password"
                  dense
                  :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules="[rules.required, rules.min]"
                  :type="show3 ? 'text' : 'password'"
                  name="input-10-1"
                  label="Password"
                  @keyup.enter="login"

                  @click:append="show3 = !show3"
                />
              </v-col>
            </v-row>
            <div class="title font-weight-light">
              <v-btn
                class="float-right "
                color="primary"
                outlined
                text
                @click="login"
              >
                Login <v-icon>
                  mdi-login-variant
                </v-icon>
              </v-btn>
              
            </div>
          </v-form>
        </v-card>
      </div>
    </v-layout>

    <v-footer
      :fixed="fixed"
      app
      height="50"
      class="pa-0 ma-0"
      style="color: #fff;background-color: rgba(0, 0, 0, 0.18);"
    >
      <v-row>
        <v-col>
          <span class="caption pa-5">  Copyright&copy;  {{
            new
              Date().getFullYear()
          }}.All Rights Reserved</span>
        </v-col>
        <v-col align="right">
          <span class="caption pr-5">
            crafted with <v-icon color="red">mdi-heart</v-icon> by Viraj
          </span>
        </v-col>
      </v-row>
    </v-footer>
  </section>
</template>

<script>

export default {
  layout: 'login',
  components: {

  },

  data: () => {
    return {

      show: false,
      fixed: true,
      user: {
        username: '',
        password: ''
      },

      choosePrjDialog: false,
      forgetPasswordDialog: false,
      ChangePasswordDialog: false,
      show1: false,
      show2: false,
      show3: false,
      roles: [1, 2, 3],

      rules: {
        required: value => !!value || 'Required',
        min: v => v.length >= 5 || 'Min 5 characters'
      }
    }
  },
  mounted () {

  },
  methods: {
    async login () {
    }
  },
  head () {
    return {
      title: 'Login'
    }
  }
}
</script>
<style>

</style>
